<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Общая оценка университетов по прошлому году</h4>
                <hr />
                <div class="form-group">
                    <details>
                        <summary>
                            <strong>Фильтр</strong>
                        </summary>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <p>Город</p>
                                    <kendo-dropdownlist class="form-control"
                                                        [defaultItem]="{ name: 'Все города', id: null }"
                                                        [data]="dropdownCitys"
                                                        [textField]="'name'"
                                                        [valueField]="'id'"
                                                        [valuePrimitive]="true">
                                    </kendo-dropdownlist>
                                </div>
                                <div class="form-group">
                                    <button kendoButton (click)="onFiltrate()"
                                            [primary]="true"
                                            style="width:100%">
                                        Фильтровать
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <p>Университет</p>
                                    <kendo-dropdownlist class="form-control"
                                                        [defaultItem]="{ shortName: 'Все университеты', id: null }"
                                                        [data]="dropdownUniversitys"
                                                        [textField]="'shortName'"
                                                        [valueField]="'id'"
                                                        [valuePrimitive]="true">
                                    </kendo-dropdownlist>
                                </div>
                            </div>
                             <div class="col-md-4">
                                 <div class="form-group">
                                     <p>Специализации</p>
                                     <kendo-multiselect style="width:100%"
                                                        [data]="dropdownSpecializations"
                                                        [textField]="'name'"
                                                        [valueField]="'id'"
                                                        [(ngModel)]="value">
                                     </kendo-multiselect>
                                 </div>
                             </div>
                         </div>
                    </details>
                </div>
                <div class="form-group">
                    <kendo-grid [data]="assessmentData" [scrollable]="'none'">
                        <kendo-grid-column field="Name" title="Наименование"></kendo-grid-column>
                        <kendo-grid-column field="CountFaculty" title="Факультетов"></kendo-grid-column>
                        <kendo-grid-column field="CountSpecialty" title="Специальностей"></kendo-grid-column>
                        <kendo-grid-column field="MaxMark" title="Макс. балл"></kendo-grid-column>
                        <kendo-grid-column field="AverageMark" title="Ср. балл"></kendo-grid-column>
                        <kendo-grid-column field="Places" title="Мест"></kendo-grid-column>
                        <kendo-grid-column field="CountSpecialization" title="Специализаций"></kendo-grid-column>
                    </kendo-grid>
                </div>    
            </div>
        </div>
    </div>
</div>

