<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Diagram_App</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.css" />
</head>
<body>    
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
