<div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Зачисления и баллы</h4>
                <hr />
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Год</label>
                    <div class="col-sm-8">
                        <kendo-numerictextbox class="form-control" [min]="0">
                        </kendo-numerictextbox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Бюджетых мест</label>
                    <div class="col-sm-8">
                        <kendo-numerictextbox class="form-control" [min]="0">
                        </kendo-numerictextbox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Подано</label>
                    <div class="col-sm-8">
                        <kendo-numerictextbox class="form-control" [min]="0">
                        </kendo-numerictextbox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Бюджет</label>
                    <div class="col-sm-8">
                        <kendo-numerictextbox class="form-control" [min]="0">
                        </kendo-numerictextbox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Платно</label>
                    <div class="col-sm-8">
                        <kendo-numerictextbox class="form-control" [min]="0">
                        </kendo-numerictextbox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Проходной балл</label>
                    <div class="col-sm-8">
                        <kendo-numerictextbox class="form-control" [min]="0">
                        </kendo-numerictextbox>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Конкурс</label>
                    <div class="col-sm-8">
                        <kendo-numerictextbox class="form-control" [min]="0">
                        </kendo-numerictextbox>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-right">
                        <button kendoButton [primary]="true" width="100%">Применить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

